<%- include('partials/header.ejs')  -%>

<form action="">
  <h2>signup</h2>
  <label for="name">Name</label>
  <input type="text" name="name" required />
  <div class="name error"></div>
  
  <label for="email">Email</label>
  <input type="email" name="email" required />
  <div class="email error"></div>
  <button>Sign Up</button>
</form>

<script>
  const form = document.querySelector('form');
  form.addEventListener('submit', (event) =>{
    event.preventDefault()

    const name = form.name.value;
    const email = form.email.value;
    console.log(name,email)
  });
</script>

<%- include('partials/footer.ejs')  -%>