<%- include('partials/header.ejs') -%>

<form action="/signup">
  <h2>signup</h2>
  <label for="name">Name</label>
  <input type="text" name="name" required />
  <div class="name error"></div>

  <label for="email">Email</label>
  <input type="email" name="email" required />
  <div class="email error"></div>
  <button>Sign Up</button>
</form>

<%- include('partials/footer.ejs') -%>
<script>
  const form = document.querySelector("form");
  const emailError = document.querySelector(".email.error")
  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    const name = form.name.value;
    const email = form.email.value;

    // reset errors
    emailError.textContent = '';

    

    try {
      const result = await fetch("/register", {
        method: "POST",
        body: JSON.stringify({ name, email }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await result.json()
      
      if(data.errors){
        emailError.textContent = data.errors.email;
      }
      if(data.user) {
        location.assign('/')
      }
    } catch (error) {
      console.log(error);
    }
  });
</script>
